@font-face {
    font-family: "MakeThings";
    src: url("./fonts/Make%20Things%20Sans.otf") format("opentype");
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100vh;
    background-color: rgb(42, 42, 53);
}
.calc_body{
    display: block;
    background-color: #29292b;
    height: 515px;
    width: 485px;
    border: 5px solid black;
    border-radius: 40px;
}
.display_bg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    height: 100px;
}
.keypad_bg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 0;
}
.keypad_area{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap:15px;
}

button{
    border-radius: 15px;
    border: 2px solid black;
    height: 80px;
    width: 100px;
    font-family: "MakeThings";
    font-size: 35px;
}
.display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 455px;
    height: 90px;
    border: 2px solid black;
    border-radius: 40px;
    margin-top: 10px;
    background-color: #3b3e6d;
    color: white;
    font-family: "MakeThings";
    font-size: 35px;
    padding-right: 20px;
}

.AC{
    background-color: #FF3D6E;
}
.multiplication{
    background-color: #FF4D94;
}
.dividing{
    background-color: #FF7A59;
}
.addition{
    background-color: #12C7C0;
}
.minus{
    background-color: #2196F3;
}
.equal{
    background-color: #FFB52E;
}
.nos{
    background-color: #454174;
}
   